html,
body {
  font-family: "Inter", "system-ui" !important;
  background-color: #ffffff !important;
  font-size: 1.1rem;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui" !important;
  }
}
